@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main-content {
    display: flex;
    width: 100%;
}

.sidebar_container {
    width: 4.5%;
    background-color: var(--bg-primary);
}

.audio_player_container {
    width: 95.5%;
    background-color: var(--bg-primary);
}

.header_container {
    width: 100%;
    height: auto;
}

.audio-book-player {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.left-section {
    width: 71%;
    padding: 2vw 1vw 0vw;
    display: flex;
    flex-direction: column;
}

.left-section .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .arrowSection {
    width: 20%;
    display: flex;
    gap: 1.6vw;
    padding: 0.5vw 0.5vw 0vw;
}

.arrowSection .arrow {
    width: 1.8vw;
    height: 1.8vw;
}

.arrowSection .arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
body.dark .arrowSection .arrow img {
    filter: invert(1);
}
.header .chapterSection {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 0.5vw 0vw;
}

.chapterSection .chapterNumber {
    font-size: 2.08vw;
    color: var(--text-primary);
    font-weight: 500;
}

.chapterSection .chapterDropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5vw; /* Space between text and arrow */
    cursor: pointer;
    padding: 0.3vw 1vw; /* Ensure enough padding */
    border: 0;
    border-radius: 0.3vw;
}

.chapterDropdown img {
    width: 1.5vw; /* Adjust arrow size */
    height: 1.5vw;
}

.dropdown-menu {
    position: absolute;
    top: 100%; /* Position below the dropdown */
    left: 0;
    width: 100%; 
    height: 7vw;
    overflow-y: auto;
    background-color: white;
    border: 0;
    border-radius:0vw 0vw 0.3vw 0.3vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0.5vw 0;
    margin: 0;
    z-index: 10;
}
.dropdown-menu::-webkit-scrollbar {
    display: none;
}
.dropdown-item.highlighted {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu {
    max-height: 200px; /* Adjust height */
    overflow-y: auto; /* Enable scrolling */
  }
.dropdown-menu {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.dropdown-item {
    padding: 0.5vw 1vw;
    font-size: 1.5vw;
    color: var(--text-primary);
    cursor: pointer;
    text-align: center;
}

.dropdown-item.selected {
    background-color: var(--background-secondary);
    font-weight: 600;
}

.dropdown-item:hover {
    background-color: var(--background-secondary);
}

body.dark .chapterDropdown img {
    filter: invert(1);
}

.saveSection {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0.5vw 0.5vw 0vw;
    position: relative;
  }
  
  .book_player_save_icon {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 1vw;
    cursor: pointer;
    position: relative;
  }
  
  .book_player_save_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .tooltip {
    position: absolute;
    top: -2.29vw;
    left: 50%;
    transform: translateX(-50%);
    background-color:gray;
    color: white;
    padding: 0.5vw;
    border-radius: 0.3vw;
    font-size: 0.8vw;
    white-space: nowrap;
    z-index: 10;
  }
  
  .successMessage {
    position: absolute;
    top: -2vw;
    left:70%;
    transform: translateX(-50%);
    background-color: gray;
    color: white;
    padding: 0.5vw;
    border-radius: 0.3vw;
    font-size: 1vw;
    white-space: nowrap;
    z-index: 1000;
  }

.book_context_box {
    background: var(--bg-color);
    width: 100%;
    height: 25vw;
    overflow-y: auto;
    position: relative;
    border-radius: 0vw 0vw 1vw 1vw;
    padding: 1vw 0vw 1vw;

}

.book_context {
    font-family: Inter;
    padding: 0vw 2vw 0vw;
    color: var(--text-grey);
    font-size: 2.08vw;
    font-weight: 500;
    margin: 0.5vw;
}

.book_context .highlight {
    color: var(--text-primary);
}

.book_content_wrapper {
    height: 100%;
    overflow-y: auto;
}
.book_content_wrapper p{
    cursor: pointer;
}
.book_content_wrapper::-webkit-scrollbar {
    display: none;
}

.book_content_wrapper {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

    

.fullscreen {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
    cursor: pointer;
    z-index: 10;
}

.fullscreen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body.dark .fullscreen img {
    filter: invert(1);
}

/* Update the fullscreen position relative to the book_context_box when in fullscreen mode */
.book_context_box.fullscreen-active .fullscreen {
    position: fixed;
    bottom: 1.5vw;
    right: 1.5vw;
}

.book-player-controls {
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 50%;
    margin: 2vw 20vw 0vw;
}

.control-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-icon.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.control-icon {
    width: 3.5vw;
    height: 3.5vw;
    cursor: pointer;
    object-fit: contain;
}

.speed-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed-select {
    width: 6.5vw;
    height: 2.5vw;
    font-size: 1.2vw;
    padding: 0.5vw;
    cursor: pointer;
    border-radius: var(--Radius-200, 0.5vw);
    background: var(--input-bg);
    color: var(--text-primary);
    outline: 0;
    border: 1px solid var(--border-color);
}

.book-player-progress-bar {
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
    margin-left: 18.5vw;
}

.book-player-progress-bar input[type="range"] {
    width: 30vw;
    height: 0.3vw;
    margin-right: 1vw;
    background: var(--border-color);
}

.progress-percent {
    font-size: 1.2vw;
    color: var(--text-primary);
}

.section_out_of {
    font-size: 1.2vw;
    margin: 0.5vw auto 0vw;
    color: var(--text-primary);
    text-align: center;
    font-family: Inter;
    font-weight: 500;
}

.right-section {
    width: 29%;
    display: flex;
    flex-direction: column;
    padding: 2vw 1vw 0vw;
}

.book-player-info {
    width: 100%;
}

.book-player-cover {
    width: 18vw;
    height: 20vw;
}

.book-player-cover img {
    border-radius: 1vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.book-player-details h3 {
    color: var(--text-primary);
    font-family: Inter;
    font-size: 2.08vw;
    font-weight: 500;
    margin: 1vw 0vw 0vw;
}

.book-player-details h4 {
    color: var(--text-primary);
    font-family: Inter;
    font-size: 1.25vw;
    font-weight: 500;
    margin: 0.5vw 0vw 0vw;
}

.book-player-settings {
    margin-top: 2vw;
}

.book-player-slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.small-img, .big-img {
    width: 1.5vw;
    height: 1.5vw;
}

.big-img {
    width: 2.2vw;
    height: 2.2vw;
}

.small-img img, .big-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body.dark .small-img img, .big-img img {
    filter: invert(1);
}

.book-player-custom-slider {
    width: 13.5vw;
    height: 0.2vw;
    margin: 0.2vw 0.5vw;
    background: var(--border-color);
    outline: none;
}
body.light .book-player-custom-slider {
    background: #ccc;
}
body.dark .book-player-custom-slider {
    background: #ccc;
}

.book-player-custom-slider-thumb {
    height: 1vw;
    width: 1vw;
    margin-top: -0.4vw;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: var(--bg-primary);
    box-shadow: 0 .37px 2.96px 0 #0000001f, 0 4.44px 9.62px 0 #0000001f;
}

body.dark .book-player-custom-slider-thumb {
    box-shadow: 0 0.37px 2.96px 0 #ffffff19, 0 4.44px 9.62px 0 #ffffff19 !important;

}

 body.dark .book-player-custom-slider-track {
    background: var(--text-secondary);
}

.left-section.fullscreen-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: var(--bg-primary);
    padding: 0.5vw;
    overflow: hidden;
}

.left-section.fullscreen-active .header {
    width: 96%;
    margin: 0vw auto 0vw;
}

.left-section.fullscreen-active .book_context_box {
    height: 30vw;
    width: 96%;
    margin: 0vw auto 0vw;
    border-radius: 1vw;
}

.left-section.fullscreen-active .book-player-controls {
    margin-left: 28vw;
}

.left-section.fullscreen-active .book-player-progress-bar {
    margin-left: 33vw;
}

/* Light and Dark theme specific variables */
body.light .audio_player_container{
    --bg-primary: #fafafa;
    --bg-secondary: #ffffff;
    --text-primary: #45464e;
    --text-secondary: #5e6366;
    --border-color: #e5e5e5;
    --border-color-focus: #abafb1;
    --input-bg: rgba(239, 241, 249, 0.6);
    --dropdown-bg: white;
    --dropdown-shadow: rgba(0, 0, 0, 0.1);
    --hover-bg: #f0f0f0;
    --button-bg: #a63e71;
    --button-text: #fff;
    --scrollbar-thumb: #ccc;
    --scrollbar-thumb-hover: #aaa;
}

body.dark .audio_player_container {
    --bg-primary: #121212;
    --bg-secondary: #1e1e1e;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --border-color: #444444;
    --border-color-focus: #666666;
    --input-bg: #2c2c2c;
    --dropdown-bg: #333;
    --dropdown-shadow: rgba(0, 0, 0, 0.3);
    --hover-bg: #444;
    --button-bg: #c4579c;
    --button-text: #ffffff;
    --scrollbar-thumb: #555;
    --scrollbar-thumb-hover: #777;
}

body.light .book_context_box {
    --bg-color:#f0f0f0;
}

body.dark .book_context_box {
    --bg-color:#2c2c2c;
}

body.light .book_context {
    --text-grey: #a7a7a7;
}

body.dark .book_context {
    --text-grey: #555;
}


body.dark .book_context .highlight {
    /* color: var(--text-primary); */
    color: #ffffff;

}