.main-content {
    display: flex;
    width: 100%;
    background-color: var(--bg-primary);
}

.sidebar_container {
    width: 4.5%;
    background-color: var(--bg-primary);
}

.bookmarks_container {
    width: 95.5%;
    overflow: hidden;
    background: var(--bg-secondary);
}

.header_container {
    width: 100%;
}

.bookmarks_body {
    width: 100%;
    display: flex;
}

.bookmarks_body .bookGrids_container {
    width: 100%;
}

.bookmarks_body .bookGrids_container .bookGrids {
    width: 100%;
    padding-right: 3vw;
    padding-left: 5vw;
    margin-top: 3vw;
}

/* Light theme */
body.light .bookmarks_container{
    --bg-primary: #ffffff;
    --bg-secondary: #FAFAFA !important;
    --text-primary: #45464e;
    --text-secondary: #5e6366;
    --border-color: #e5e5e5;
}

/* Dark theme */
body.dark {
    --bg-primary: #1e1e1e;
    --bg-secondary: #121212 !important;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --border-color: #444444;
}