@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.progressbar_container {
    width: 20vw;
    height: 30vw;
    background-color: var(--bg-primary);
    padding: 1vw;
    border-radius: 1.5vw;
    margin-top: 11.5vw;
}

.progressbook_title {
    color: var(--text-primary);
    font-family: Inter;
    font-size: 1.2vw;
    font-weight: 500;
    margin: 0;
}

.progessbar-book-list {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.progessbar-book-list a{
    text-decoration: none;
}
.progress-container {
    margin-top: 0.7vw;
    height: 6.2vw;
    border-radius: 1vw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.progress-container a{
    text-decoration: none;
    padding: 0.5vw;
}
.green-bg {
    background-color: var(--green-light-bg);
}

.yellow-bg {
    background-color: var(--yellow-light-bg);
}

.orange-bg {
    background-color: var(--orange-light-bg);
}

.progress-bar {
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 0vw 1.2vw 1.2vw 0vw;
    padding-left: 0.7vw;
    color: var(--progress-text);
}

.green {
    background: var(--green-progress);
}

.yellow {
    background: var(--yellow-progress);
}

.orange {
    background: var(--orange-progress);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-primary);
    font-family: Inter;
    font-weight: 500;
    width: 6vw;
}

.percentage-text {
    font-size: 1.2vw;
}

.book-name {
    font-size: 0.9vw;
}

/* Theme Variables */
body.light {
    --bg-primary: #ffffff;
    --text-primary: #45464E;
    --progress-text: #ffffff;
    --green-light-bg: #E0ECC8;
    --yellow-light-bg: #ECE5C8;
    --orange-light-bg: #ECDDC8;
    --green-progress: #89BB34;
    --yellow-progress: #DFC826;
    --orange-progress: #E29336;
}

body.dark {
    --bg-primary: #2c2c2c;
    --text-primary: #ffffff;
    --progress-text: #ffffff;
    --green-light-bg: #1a2712;
    --yellow-light-bg: #2a2912;
    --orange-light-bg: #2a1f12;
    --green-progress: #89BB34;
    --yellow-progress: #DFC826;
    --orange-progress: #E29336;
}