.main-content {
    display: flex;
    width: 100%;
  }
  
  .sidebar_container {
    width: 4.5%;
    background-color: var(--bg-primary);
  }
  
  .library_container {
    width: 95.5%;
    overflow: hidden;
    background-color: var(--bg-secondary);
  }
  
  .header_container {
    width: 100%;
  }
  
  .library_body {
    width: 100%;
    display: flex;
    background: var(--bg-secondary);
  }
  
  .library_body .carousels_container {
    width: 100%;
  }
  
  .library_body .carousels_container .readlater_carousel,
  .library_body .carousels_container .inprogress_carousel,
  .library_body .carousels_container .history_carousel {
    width: 100%;
    padding-right: 3vw;
    padding-left: 1vw;
    margin-top: 3vw;
  }
  
  /* Theme Variables */
  body.light .library_container{
    --bg-primary: #ffffff;
    --bg-secondary: #FAFAFA;
  }
  
  body.dark .library_container {
    --bg-primary: #1e1e1e;
    --bg-secondary: #121212 !important;
  }