.main-content {
    display: flex;
    width: 100%;
    background-color: var(--bg-primary);
}

.sidebar_container {
    width: 4.5%;
    background-color: var(--sidebar-bg);
}

.settings_container {
    width: 95.5%;
    background-color: var(--settings-bg);
    overflow: hidden;
}

.header_container {
    width: 100%;
}

.settings_container .settings-nav-bar {
    width: 100%;
    margin-right: 3vw;
    margin-left: 2vw;
    margin-top: 1vw;
    color: var(--text-primary);
}

.settings_body_wrapper {
    flex-direction: column;
    background-color: var(--settings-bg);
    width: 100%;
    display: flex;
}

.settings_body {
    flex-direction: column;
    margin: 2vw;
    padding: 1vw;
    width: 100%;
    height: auto;
    display: flex;
    background-color: var(--content-bg);
    border-radius: 12px;
    color: var(--text-primary);
}

.settings_body .carousels_container {
    width: 100%;
}

.settings_body .carousels_container .readlater_carousel,
.settings_body .carousels_container .inprogress_carousel,
.settings_body .carousels_container .history_carousel {
    width: 100%;
    padding-right: 3vw;
    padding-left: 1vw;
    margin-top: 3vw;
}

/* Light and Dark theme specific variables */
body.light {
    --bg-primary: #ffffff;
    --text-primary: #45464e;
    --sidebar-bg: white;
    --settings-bg: #FAFAFA;
    --content-bg: #ffffff;
}

body.dark {
    --bg-primary: #1e1e1e;
    --text-primary: #ffffff;
    --sidebar-bg: #2c2c2c;
    --settings-bg: #121212;
    --content-bg: #1e1e1e;
}
