@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Theme variables */
body.light {
  --bg-primary: #f5f5f5;
  --bg-secondary: #ffffff;
  --text-primary: #45464e;
  --text-secondary: #5e6366;
  --border-color: #e5e5e5;
  --input-bg: rgba(239, 241, 249, 0.6);
  --button-bg: #a63e71;
  --button-text: #fff;
  --error-color: red;
  --link-color: #a63e71;
  --popup-bg: #fff;
  --popup-overlay: rgba(0, 0, 0, 0.3);
  --close-button-bg: #fff;
  --close-button-color: #333;
  --close-button-border: #333;
  --close-button-hover-bg: #a63e71;
  --close-button-hover-color: #fff;
}

body.dark {
    --bg-primary: #1e1e1e;
    --bg-secondary: #2c2c2c;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
  --border-color: #444444;
  --input-bg: rgba(239, 241, 249, 0.2);
  --button-bg: #a63e71;
  --button-text: #fff;
  --error-color: #ff6b6b;
  --link-color: #ff9ecd;
  --popup-bg: #2c2c2c;
  --popup-overlay: rgba(0, 0, 0, 0.5);
  --close-button-bg: #2c2c2c;
  --close-button-color: #fff;
  --close-button-border: #666;
  --close-button-hover-bg: #a63e71;
  --close-button-hover-color: #fff;
}

.signup-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary);
  margin: 0;
  overflow: hidden;
}

.signup-page header {
  position: absolute;
  top: 0vw;
  left: 0vw;
}

.signup-container {
  margin-top: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24.832vw;
  height: auto;
  max-height: 150vh;
  padding: 2.604vw 2.084vw;
  background-color: var(--bg-secondary);
  border-radius: 0.937vw;
  box-shadow: 0 0.208vw 0.312vw rgba(0, 0, 0, 0.1);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.left-arrow-icon,
.right-arrow-icon {
    width: 2vw;
    height: 2vw;
    margin: 0 0.5vw;
}

.left-arrow-icon :disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.right-arrow-icon :disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.book-logo-icon {
    width: 3vw;
    height: 3vw;
    margin: 0 0.5vw;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visibilityIcon {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  body.dark  .visibilityIcon .icon {
    filter: invert(0.5);
  }
  
.booklogo-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.771vw;
    margin-bottom: 2vw;
}

.booklogo-img {
    width: 4.046vw;
    height: 4.0646vw;
}

.booklogo-heading-text .heading-text-wrapper {
    color: var(--text-primary);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.546vw;
    font-weight: 500;
}

.signup-form {
    display: flex;
    max-width: 100%;
    width: 28.542vw;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    font-weight: 400;
    justify-content: flex-start;
}

.signup-form-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.198vw;
    color: var(--text-secondary);
    justify-content: flex-start;
}

.signup-input-fields {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.inputfield-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}

.inputfield-container {
    border-radius: 0.609vw;
    background-color: var(--input-bg);
    display: flex;
    min-height: 2.023vw;
    width: 85%;
    flex-direction: column;
    justify-content: center;
    padding: 0.625vw 1.198vw;
    margin: 0.521vw;
}

.inputfield-content {
    display: flex;
    width: 100%;
    gap: 0.781vw;
    justify-content: flex-start;
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
}

.inputfield-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 2.023vw;
    margin: 0 0;
}

.inputfield-inside {
    min-width: 12.5vw;
    flex: 1;
    border: none;
    background: transparent;
    font-size: 1.133vw;
    color: var(--text-primary);
}

.inputfield-inside {
    min-width: 12.5vw;
    flex: 1;
    border: none;
    background: transparent;
    font-size: 1.133vw;
    color: var(--text-primary);
}

/* Autofill styles */
.inputfield-inside:-webkit-autofill {
    background-color: var(--input-background) !important;
    color: var(--text-primary) !important;
    -webkit-text-fill-color: var(--text-primary) !important;
    transition: background-color 5000s ease-in-out 0s; /* Prevents the browser from overriding */
}

.terms-condition-label {
    margin-left: 0.5vw;
    color: var(--text-primary);
}

.inputfield-inside:focus {
    border-color: var(--text-secondary);
    /* box-shadow: 0 0 0.208vw rgba(169, 169, 169, 0.5); */
}


.passwordField:-webkit-autofill {
    background-color: var(--input-background) !important;
    color: var(--text-primary) !important;
    -webkit-text-fill-color: var(--text-primary) !important;
    transition: background-color 5000s ease-in-out 0s; /* Prevents the browser from overriding */
}


.passwordInputContainer {
    border-radius: 0.609vw;
    background-color: var(--input-bg);
    display: flex;
    min-height: 1.823vw;
    width: 85%;
    margin: 0.521vw;
    max-width: 28.542vw;
    flex-direction: column;
    justify-content: center;
    padding: 0.625vw 1.198vw;
}

.hidden-file-input {
    position: absolute;
    width: 0.0521vw;
    height: 0.0521vw;
    opacity: 0;
    z-index: -1;
}

.custom-file-label {
    flex-grow: 1;
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 1.008vw;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.custom-file-label:hover,
.custom-file-label:focus {
    color: var(--text-primary);
}

.passwordInputContent {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.781vw;
    justify-content: flex-start;
    flex: 1;
    flex-wrap: wrap;
    height: 100%;
}

.passwordIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 2.023vw;
    align-self: stretch;
    margin: auto 0;
}

.passwordField {
    align-self: stretch;
    min-width: 12.5vw;
    flex: 1;
    border: none;
    background: transparent;
    font-size: 1.133vw;
    color: var(--text-primary);
}

.passwordField::placeholder {
    color: var(--text-secondary);
}
.visibilityIcon {
    aspect-ratio: 0.96;
    object-fit: contain;
    object-position: center;
    width: 1.198vw;
    align-self: stretch;
    margin: auto 0;
    cursor: pointer;
}

.signup-loginLink p {
    color: var(--text-primary);
    text-align: center;
    font-size: 0.9815vw;
}

.signup-loginLink p a {
    text-decoration: none;
    color: var(--link-color);
}

.signUpButton {
    align-self: center;
    border-radius: 0.7vw;
    background-color: var(--button-bg);
    color: var(--button-text);
    text-align: center;
    width: 10.375vw;
    height: 3.046vw;
    padding: 0.521vw 1.1983vw;
    font: 400 1.146vw Inter, sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 1vw;
}

.visually-hidden {
    position: absolute;
    width: 0.052vw;
    height: 0.052vw;
    padding: 0;
    margin: -0.052vw;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.otp-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--popup-bg);
    padding: 1.542vw;
    width: 26.832vw;
    max-width: 90%;
    border-radius: 0.937vw;
    box-shadow: 0 0.208vw 0.312vw rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.otp-popup-content {
    text-align: center;
    color: var(--text-primary);
}

.otp-popup-content p {
    line-height: 1.6vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    margin: 0.521vw 0;
    max-width: 100%;
    text-align: center;
}

.otp-input {
    width: 90%;
    padding: 0.521vw;
    margin: 0.521vw 0;
    margin-bottom: 1vw;
    border: 0.052vw solid var(--border-color);
    border-radius: 0.208vw;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: var(--input-bg);
    color: var(--text-primary);
}

.otp-input:focus {
    border-color: var(--text-secondary);
    box-shadow: 0 0 0.208vw rgba(169, 169, 169, 0.5);
}

.otp-submit-button {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.521vw 1.042vw;
    border-radius: 0.417vw;
    cursor: pointer;
}

.error-message {
    color: var(--error-color);
    font-size: 1.04vw;
    margin-top: 0.521vw;
    text-align: center;
}

.signup-error-email {
    color: var(--error-color);
    font-size: 0.94vw;
    margin-top: 0.521vw;
    margin-bottom: 0vw;
    padding-bottom: 0vw;
    text-align: center;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--popup-overlay);
    backdrop-filter: blur(0.312vw);
    -webkit-backdrop-filter: blur(0.312vw);
    z-index: 1000;
}

.close-popup-button {
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--close-button-bg);
    border: 0.006vw solid var(--close-button-border);
    border-radius: 50%;
    font-size: 0.885vw;
    font-weight: 20;
    color: var(--close-button-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    z-index: 1010;
}

.close-popup-button:hover {
    background-color: var(--close-button-hover-bg);
    color: var(--close-button-hover-color);
    transform: scale(1.1);
}

.error-border {
    border: 0.052vw solid var(--error-color);
    border-radius: 0.609vw;
}

.inputfield-inside::placeholder {
    color: var(--text-secondary);
}

.resend-otp-button {
    background-color: transparent;
    color: var(--link-color);
    border: 0.052vw solid var(--link-color);
    padding: 0.521vw 1.042vw;
    border-radius: 0.417vw;
    cursor: pointer;
    margin-left: 0.521vw;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.resend-otp-button:hover {
    background-color: var(--button-bg);
    color: var(--button-text);
}

.otp-buttons {
    gap: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Agree_tc {
    margin-top: 1vw;
    font-size: 0.9815vw;
    color: var(--text-primary);
    display: flex;
    align-items: center;
    margin-bottom: 0.1vw;
}