.container {
  border-radius: 0.9378vw;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0.7815vw;
  justify-content: flex-start;
  padding: 3.333vw 2.604vw 8.080vw;
}

@media (max-width: 991px) {
  .container {
    padding: 0 1.042vw 5.208vw;
  }
}

.formContainer {
  z-index: 0;
  display: flex;
  min-width: 12.5vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 28.563vw;
}

@media (max-width: 991px) {
  .formContainer {
    max-width: 100%;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  justify-content: flex-start;
  font: 500 1.512vw Poppins, sans-serif;
}

.logo {
  aspect-ratio: 0.99;
  object-fit: contain;
  object-position: center;
  width: 4.583vw;
}

.introContent {
  margin-top: 2.292vw;
}

@media (max-width: 991px) {
  .introContent {
    margin-top: 2.083vw;
  }
}

.formContent {
  display: flex;
  margin-top: 4.583vw;
  max-width: 100%;
  width: 28.563vw;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .formContent {
    margin-top: 2.083vw;
  }
}

.formInputContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.198vw;
  color: #abafb1;
  justify-content: flex-start;
}

.inputFields {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.inputWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

.inputContainer {
  border-radius: 0.608vw;
  background-color: rgba(239, 241, 249, 0.6);
  display: flex;
  min-height: 3.958vw;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 0.625vw 1.198vw;
}

@media (max-width: 991px) {
  .inputContainer {
    max-width: 100%;
    padding: 0 1.042vw;
  }
}

.inputContent {
  display: flex;
  width: 100%;
  gap: 1.198vw;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
}

@media (max-width: 991px) {
  .inputContent {
    max-width: 100%;
  }
}

.inputIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 1.823vw;
  margin: auto 0;
}

.inputField {
  min-width: 12.5vw;
  flex: 1;
  border: none;
  background: transparent;
  font-size: 0.834vw;
  color: #abafb1;
}

@media (max-width: 991px) {
  .inputField {
    max-width: 100%;
  }
}

.passwordInputWrapper {
  display: flex;
  margin-top: 2.292vw;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .passwordInputWrapper {
    margin-top: 2.083vw;
  }
}

.passwordInputContainer {
  border-radius: 0.608vw;
  background-color: rgba(239, 241, 249, 0.6);
  display: flex;
  min-height: 3.958vw;
  width: 100%;
  max-width: 28.563vw;
  flex-direction: column;
  justify-content: center;
  padding: 0.625vw 1.198vw;
}

@media (max-width: 991px) {
  .passwordInputContainer {
    max-width: 100%;
    padding: 0 1.042vw;
  }
}

.passwordInputContent {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.198vw;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
}

@media (max-width: 991px) {
  .passwordInputContent {
    max-width: 100%;
  }
}

.passwordIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 1.823vw;
  align-self: stretch;
  margin: auto 0;
}

.passwordField {
  align-self: stretch;
  min-width: 12.5vw;
  flex: 1;
  border: none;
  background: transparent;
  font-size: 0.834vw;
  color: #abafb1;
}

.visibilityIcon {
  aspect-ratio: 0.96;
  object-fit: contain;
  object-position: center;
  width: 1.198vw;
  align-self: stretch;
  margin: auto 0;
  cursor: pointer;
}

.loginLink {
  color: #a63e71;
  text-align: center;
  font-size: 1.042vw;
  margin-top: 3.646vw;
}

@media (max-width: 991px) {
  .loginLink {
    margin-top: 2.083vw;
  }
}

.signUpButton {
  align-self: stretch;
  flex: 1;
  border-radius: 0.9378vw;
  background-color: #a63e71;
  position: absolute;
  min-width: 12.5vw;
  gap: 0.7815vw;
  color: #fff;
  text-align: center;
  left: 10.063vw;
  bottom: 1.615vw;
  width: 13.708vw;
  padding: 1.304vw 1.198vw;
  font: 400 1.512vw Inter, sans-serif;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .signUpButton {
    padding: 1.042vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.visually-hidden {
  position: absolute;
  width: 0.052vw;
  height: 0.052vw;
  padding: 0;
  margin: -0.052vw;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
